body {
    background-color: #B8BDA8;
    font-family: 'Open Sans';
}

.titulo,.texto-info,.vida,.usuario {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box-titulo,.titulo {
    color: #262823;
    display: flex;
    justify-content: center;
}

.pantalla {
    border-style: none;
    border-color: black;
}

.vida-torre {
    background-color: #3B493A;
    padding: 8px 0 5px 0;
    border-radius: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: baseline;
}

.texto-vida-torre,.usuario{
    display: inline;
    margin-left: 10px;
    color: #B8BDA8;
    font-weight: 800;
}

.usuario {
    font-weight: bold;
}

.texto-vida-torre-span{
    display: inline;
    color: #B8BDA8;
    font-weight: 800;
    font-family: fantasy;
}

.fondo {
    display: grid;
}

.torre-npc,.gato,.celda,.gatito-liberado {
    position: absolute;
    width: 18%; 
    height: auto; 
    left: 35%;
}

.gato,.celda,.gatito-liberado {
    left: 75%;
    width: 8%; 
    height: auto; 
    left: 75%;
}

.gatito-liberado {
    display: none;
}

.imagen-fondo {
    width: 100%;
    border-radius: 20px;
}

.box-botones {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 1rem;
    margin-left: 50px;
}

.arma,.push {
    vertical-align: top;
    height: 70px;
    display: flex;
    flex-direction: column-reverse;
    padding: 5rem 1.5rem 1rem 1.5rem;
    cursor: pointer;
    background: #7a7d6f;
    border-style: solid;
    border-top: 1px solid #000000;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #000000;
    color: #262823;
    box-shadow: -1px 5px 5px -1px rgba(38,40,35,0.38);
}

.push {
    background: none;
}

.box-nuevaArma {
    vertical-align: top;
    padding: 1px;
    cursor: pointer;
    background: #7a7d6f;
    border-style: solid;
    border-top: 1px solid #000000;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #000000;
    color: #262823;
    box-shadow: -1px 5px 5px -1px rgba(38,40,35,0.38);
    font-weight: 700;
}


.search {
    border-style: double;
    padding: 5px;
    margin-top: 10px;
}

.interfaz {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.inventory {
    display: contents;
}

#armamento {
    display: flex;
}
.arma:hover {
    background: #8c907f;
}

.boton-reiniciar {
    visibility: hidden;
    border-radius: 16px;
    background: none;
    border-style: none;
    color: #4d4f46;
    font-weight: 600;
    cursor: pointer;
    height: fit-content;
}

.reiniciar {
    width: 90px;
    height: 90px;
    padding: 3px;
}

.boton-reiniciar:hover {
    background: rgba(146, 149, 134, 0.5);
}

.damage-container {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 24px;
    animation: pop-out 1s ease-in-out;
}

.damage-text {
    font-size: 24px;
    color: rgb(255, 255, 255);
    animation: pop-out 1s ease-in-out;
}

@keyframes pop-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}